<p></p>
<ng-container>
  <div class="boton">
    <div class="btn btn-dark" style="margin: auto;" (click)="openModalAdd()" >Agregar Auto <i class="fas fa-plus-circle"></i></div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
          <i class="fas fa-search"></i>
        </div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Buscar el ID" [(ngModel)]="searchText" autocomplete="off">
  </div>

  <div><p *ngIf="displayProgressBar"><ngb-progressbar type="secondary" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar></p></div>
    <table class="table table-striped">

        <thead>
        <tr>
          <th scope="col" class="table-header">ID</th>
          <th scope="col" class="table-header">Marca</th>
          <th scope="col" class="table-header">Submarca</th>
          <th scope="col" class="table-header">Descripción</th>
          <th scope="col" class="table-header">Modelos</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize">
          <td>{{ auto._id }}</td>
          <td>{{ auto.marca }}</td>
          <td>{{ auto.submarca }}</td>
          <td>{{ auto.descripcion}}</td>
          <td>{{ auto.modelos | formatModelos}}</td>
          <td><img src="../../assets/icons/trash-solid.svg" style="cursor: pointer;" width="20px" height="20px" (click)="openModalDelete(auto)"></td>
          <td><img src="../../assets/icons/edit-solid.svg" style="cursor: pointer;" width="20px" height="20px" (click)="openModalEdit(auto)"></td>
        </tr>
        </tbody>

      </table>
</ng-container>

<div class="pagination">
  <ngb-pagination 
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="autos.length"
  [rotate]="true"
  [maxSize]="5"
  >
</ngb-pagination>
</div>
