<p>
    <ng-template #content let-modal>
        <div *ngIf="autoSeleccionado">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{autoSeleccionado._id}} {{autoSeleccionado.marca}} {{autoSeleccionado.descripcioncorta}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div>
                    <p>Marca: {{autoSeleccionado.marca}}</p>
                    <p>Submarca: {{autoSeleccionado.submarca}}</p>
                    <p>Descripción: {{autoSeleccionado.descripcion}}</p>
                    <p>Ocupantes: {{autoSeleccionado.Ocupantes}}</p>
                    <p>Modelos: {{autoSeleccionado.modelos}}</p>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Exit click')">Salir</button>
            </div>
        </div>
    </ng-template>
</p>



<ng-container>
  <div *ngFor="let auto of autos | slice: (page-1) * pageSize : page * pageSize" class="vista">
      <div>
        <i class="fas fa-eye fa-2x" style="cursor: pointer;" width="30px;" height="30px;" (click)="onSelect(auto, content)"></i>
      </div>
      <div class="vistasItem">
          {{auto.marca}} / {{auto.descripcioncorta}}
      </div>
  </div>
</ng-container>

<div class="pagination">
    <ngb-pagination 
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="autos.length"
    [rotate]="true"
    [maxSize]="5"
    [boundaryLinks]="true"
    >
</ngb-pagination>
</div>