<div *ngIf="auto">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{accion}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form #formAutos="ngForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" class="form-control" id="marca" placeholder="Agrega la marca" required minlength="4"
                    [(ngModel)]="auto.marca" name="marca" #marca="ngModel">
            </div>

            <div *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                <div *ngIf="marca.errors?.minlength" class="alert alert-danger">La marca debe de tener un mínimo de 4 carácteres</div>
                <div *ngIf="marca.errors?.required" class="alert alert-danger">La marca es requerida</div>
            </div>

            <div class="form-group">
                <label for="submarca">Submarca</label>
                <input type="text" class="form-control" id="submarca" placeholder="Agrega la submarca"
                    [(ngModel)]="auto.submarca" name="submarca" required #submarca="ngModel">
            </div>
            <div *ngIf="submarca.invalid && (submarca.dirty || submarca.touched)">
                <div *ngIf="submarca.errors?.minlength" class="alert alert-danger">La submarca debe de tener un mínimo de 4 carácteres</div>
                <div *ngIf="submarca.errors?.required" class="alert alert-danger">La submarca es requerida</div>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Agrega la descripcion"
                    [(ngModel)]="auto.descripcion" name="descripcion" required #descripcion="ngModel">
            </div>

            <div class="form-group">
                <label for="modelos">Modelos</label>
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" id="modelos" [options]="options"
                    name="modelos" required #modelos></ngx-slider>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark" [disabled]="!formAutos.form.valid">Guardar</button>
            </div>
        </form>
    </div>
</div>