.log{
    font-family: Consolas, "Courier New", monospace;
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0 auto;
    width: 70%;
    height: 450px;
    margin-top: 20px;
    overflow: scroll;
}
p{
    padding-left: 20px;
    margin: 0;
}